*{
    padding:0;
    margin:0;
}
header{
    background-color:black;
    color:white;
    text-align:center;
    font-weight: bold;
    font-size: 70px;
}
.hme{
    text-align: center;
}
.hme ul{
    float: calc();
    display: flex;
    padding-top: 19px;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}
.hme ul li{
    list-style: none;
    margin-left: 60px;
    font-size: x-large;
}
.hme ul li a{
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 3s ease;
}
.hme ul li a:hover{
    color: brown;
}
body{
background-color:antiquewhite;
}
h1{
color:white;
margin-left:200px;
font-family:Time New Roman;
font-size:50px;
}
p{
color:black;
font-family:Times New Roman;
font-size:20px;
margin-left: 20px;
}
.p1{
  margin-left: 40px;
}
img{
    float: right;
    width: 450px;
    height: 450px;
    margin-left: 90px;
}
