*{
    padding:0;
    margin:0;
}
img{
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: 20px;
    float: left;
}
header{
    color:white;
    text-align:center;
    font-weight: bold;
    font-size: 70px;
}
    .logo{
    border-radius: 10px;
    padding: 20px;
}
.logo img{
    height: 70px;
    width: 70px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    margin-top: 10px;
}
.info{
    color:white;
}
.hme{
    background-image: url(various-cakes-supermarket-shelves-sale\ \(1\).jpg);
    background-position: absolute;
    background-size : cover;
    height: 100vh;
    text-align: center;
}
ul{
    float: calc();
    display: flex;
    padding-top: 19px;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}
ul li{
    list-style: none;
    margin-left: 60px;
    font-size: large;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    background-color: transparent;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 3s ease;
}
ul li a:hover{
    color: brown;
}
.footer{
    font-family: fantasy;
    background-color:pink;
    color:black;
    text-align: center;
}
